* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    color: rgb(255, 0, 0);

    & p {
        color: rgb(0, 38, 255);
    }

    &+h3 {
        & p {
            color: rgb(0, 255, 251);
        }

        color: rgb(255, 0, 170);
    }
}

ul li:has(input:checked) {
    border: 2px solid #3cff00;
}