body {
    margin: 0;
}

.box {
    width: 25vw;
    height: 25vh;
}

/* #left_top_origin {} */

.left-top-origin {
    position: absolute;
    top: 0;
    right: 0;
    /* right: 37.5vw; */
    left: 10vw;
    z-index: 0;
}

.relative {
    position: relative;
    top: 3vh;
    z-index: 1;
}